SOLMIN_SC/SOLMIN_SC.Negocio/Web References/WSmiqransa/adddata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.yrcransaexpediting.com/yrcransaws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.yrcransaexpediting.com/yrcransaws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.yrcransaexpediting.com/yrcransaws">
      <s:element name="AddAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="typeTable">
        <s:restriction base="s:string">
          <s:enumeration value="m001" />
          <s:enumeration value="m002" />
          <s:enumeration value="m003" />
          <s:enumeration value="m004" />
          <s:enumeration value="m005" />
          <s:enumeration value="m006" />
          <s:enumeration value="m007" />
          <s:enumeration value="m008" />
          <s:enumeration value="m009" />
          <s:enumeration value="m010" />
          <s:enumeration value="m011" />
          <s:enumeration value="m012" />
          <s:enumeration value="t001" />
          <s:enumeration value="t002" />
          <s:enumeration value="t003" />
          <s:enumeration value="t004" />
          <s:enumeration value="t005" />
          <s:enumeration value="t006" />
          <s:enumeration value="t007" />
          <s:enumeration value="t008" />
          <s:enumeration value="t009" />
          <s:enumeration value="t010" />
          <s:enumeration value="t011" />
          <s:enumeration value="t012" />
          <s:enumeration value="t013" />
          <s:enumeration value="m013" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddT004Model">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_DST004">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddT004ModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddT004ModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddT005">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
            <s:element minOccurs="1" maxOccurs="1" name="_CCOD" type="tns:CCOD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CCOD">
        <s:restriction base="s:string">
          <s:enumeration value="YRCLOGISTIC" />
          <s:enumeration value="RANSA" />
          <s:enumeration value="ALL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddT005Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddT005Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldsCustom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWhere">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
            <s:element minOccurs="0" maxOccurs="1" name="whereValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWhereResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataWhereResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_typeTable" type="tns:typeTable" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAllSoapIn">
    <wsdl:part name="parameters" element="tns:AddAll" />
  </wsdl:message>
  <wsdl:message name="AddAllSoapOut">
    <wsdl:part name="parameters" element="tns:AddAllResponse" />
  </wsdl:message>
  <wsdl:message name="AddT004ModelSoapIn">
    <wsdl:part name="parameters" element="tns:AddT004Model" />
  </wsdl:message>
  <wsdl:message name="AddT004ModelSoapOut">
    <wsdl:part name="parameters" element="tns:AddT004ModelResponse" />
  </wsdl:message>
  <wsdl:message name="AddT005SoapIn">
    <wsdl:part name="parameters" element="tns:AddT005" />
  </wsdl:message>
  <wsdl:message name="AddT005SoapOut">
    <wsdl:part name="parameters" element="tns:AddT005Response" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomTableSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomTable" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomTableSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAll" />
  </wsdl:message>
  <wsdl:message name="GetDataAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataWhereSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataWhere" />
  </wsdl:message>
  <wsdl:message name="GetDataWhereSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataWhereResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetDataKey" />
  </wsdl:message>
  <wsdl:message name="GetDataKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetDataKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="AddDataSoap">
    <wsdl:operation name="sendDataSet">
      <wsdl:input name="AddAll" message="tns:AddAllSoapIn" />
      <wsdl:output name="AddAll" message="tns:AddAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendModelT004">
      <wsdl:input name="AddT004Model" message="tns:AddT004ModelSoapIn" />
      <wsdl:output name="AddT004Model" message="tns:AddT004ModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <wsdl:input name="AddT005" message="tns:AddT005SoapIn" />
      <wsdl:output name="AddT005" message="tns:AddT005SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <wsdl:input name="UpdateCustomTable" message="tns:UpdateCustomTableSoapIn" />
      <wsdl:output name="UpdateCustomTable" message="tns:UpdateCustomTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene todos los registros de la tabla especifica, esto puede significar largo tiempo en traer todos los registros</wsdl:documentation>
      <wsdl:input name="GetDataAll" message="tns:GetDataAllSoapIn" />
      <wsdl:output name="GetDataAll" message="tns:GetDataAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene registros segun la tabla y el filtro que se especifica  despues del Where</wsdl:documentation>
      <wsdl:input name="GetDataWhere" message="tns:GetDataWhereSoapIn" />
      <wsdl:output name="GetDataWhere" message="tns:GetDataWhereSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los registro segun campo seleccionado, key, es el nombre del campo y value es el valor especificado</wsdl:documentation>
      <wsdl:input name="GetDataKey" message="tns:GetDataKeySoapIn" />
      <wsdl:output name="GetDataKey" message="tns:GetDataKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddDataSoap" type="tns:AddDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddAll" style="document" />
      <wsdl:input name="AddAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddAll">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendModelT004">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddT004Model" style="document" />
      <wsdl:input name="AddT004Model">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddT004Model">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddT005" style="document" />
      <wsdl:input name="AddT005">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddT005">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/UpdateCustomTable" style="document" />
      <wsdl:input name="UpdateCustomTable">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateCustomTable">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataAll" style="document" />
      <wsdl:input name="GetDataAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataAll">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataWhere" style="document" />
      <wsdl:input name="GetDataWhere">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataWhere">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataKey" style="document" />
      <wsdl:input name="GetDataKey">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataKey">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddDataSoap12" type="tns:AddDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddAll" style="document" />
      <wsdl:input name="AddAll">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddAll">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendModelT004">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddT004Model" style="document" />
      <wsdl:input name="AddT004Model">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddT004Model">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/AddT005" style="document" />
      <wsdl:input name="AddT005">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddT005">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/UpdateCustomTable" style="document" />
      <wsdl:input name="UpdateCustomTable">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateCustomTable">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataAll" style="document" />
      <wsdl:input name="GetDataAll">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataAll">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataWhere" style="document" />
      <wsdl:input name="GetDataWhere">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataWhere">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://www.yrcransaexpediting.com/yrcransaws/GetDataKey" style="document" />
      <wsdl:input name="GetDataKey">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataKey">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddData">
    <wsdl:port name="AddDataSoap" binding="tns:AddDataSoap">
      <soap:address location="http://www.miqransaexpediting.com/miqransaws/adddata.asmx" />
    </wsdl:port>
    <wsdl:port name="AddDataSoap12" binding="tns:AddDataSoap12">
      <soap12:address location="http://www.miqransaexpediting.com/miqransaws/adddata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>